<%- include('header') -%>

  <main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>About Us</h2>
        <p>We expect you to learn everything the smarter way! </p>
      </div>
    </div>
    <!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="https://images.unsplash.com/photo-1525184990509-4fd44ed9e056?ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8bmV3c3BhcGVyc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="img-fluid" alt="Books Image">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>Get to know the motive behind smart study!</h3>
            <p class="fst-italic">
              “Live as if you were to die tomorrow. Learn as if you were to live forever.”<br> 
            </p>
              <p>
                Imagine a situation where you're stuck one day before an exam with very little preparation. What would you do except staying tense about the situation?! Even though your instinct says to open the book and start studying but how is that even possible at the 11th hour?!<br><br>
                To tackle this situation we have come up with an awesome resource where every concept of every stream in this world is explained in less than 100 words in a single place.<br><br> 
                We present Edu-Shorts before you! 
              </p>      
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts section-bg">
      <div class="container">

        <div class="row counters">

          <div class="col-lg-2 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="15000" data-purecounter-duration="1" class="purecounter"></span>
            <p>Concepts</p>
          </div>

          <div class="col-lg-2 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="5000" data-purecounter-duration="1" class="purecounter"></span>
            <p>Students</p>
          </div>

          <div class="col-lg-2 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="150" data-purecounter-duration="1" class="purecounter"></span>
            <p>Subjects</p>
          </div>

          <div class="col-lg-2 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="100" data-purecounter-duration="1" class="purecounter"></span>
            <p>Words</p>
          </div>

          <div class="col-lg-2 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="12" data-purecounter-duration="1" class="purecounter"></span>
            <p>Streams</p>
          </div>

          <div class="col-lg-2 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="1" data-purecounter-duration="1" class="purecounter"></span>
            <p>Platform</p>
          </div>

        </div>

      </div>
    </section>
    <!-- End Counts Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Testimonials</h2>
          <p>What are our students saying</p>
        </div>

        <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                  <h3>Saul Goodman</h3>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    I always tried my best. I have always loved this platform since the day I came here. I will never ever forget Edu-Shorts in my life. This is the best platform I have ever had in the past three years. I think this platform is going to be the best platform ever in Horizon history.                    
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                  <h3>Sara Wilsson</h3>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    This platform is the best. I like learning about the concept and it is lots of fun.  I loved the simplicity and crystal knowledge that these guys are passing. I’d never had more fun.                    
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                  <h3>Jena Karlis</h3>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Edu-Shorts is a fantastic platform. I had the opportunity to learn Physics. I recommend the Edu-Shorts to everyone who wants to have a wonderful experience in education.                    
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                  <h3>Matt Brandon</h3>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Edu-Short's English Platform is one of the best platforms I have ever come across. Overall I would recommend this medium to anyone 100%, thumbs up!!!”                    
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                  <h3>John Larson</h3>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    I had the opportunity to study through Edu-Shorts and I’m thankful to them because of this innovative technique that has helped me gain good grades in my finals. I’ve improved my understanding of Economics so I strongly recommend it.”                     
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

  </main>
  <!-- End #main -->

  <%- include('footer') -%>