<%- include('header') -%>

  <main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class= "breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>CAREERS</h2>
      </div>
    </div>
    <!-- End Breadcrumbs -->

    <section id="why-us" class="why-us">
      <div class="container" data-aos="fade-up">
  
        <div class="row">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="content">
              <h3>Engineering</h3>
              <p>
                Engineering is the use of scientific principles to design and build machines, structures, and other items, including bridges, tunnels, roads, vehicles, and buildings. The discipline of engineering encompasses a broad range of more specialized fields of engineering, each with a more specific emphasis on particular areas of applied mathematics, applied science, and types of application. The term engineering is derived from the Latin Ingenium. and ingeniare.              
              </p>
              <div class="text-center">
                <a href="/engineering" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="content">
              <h3>Medical Science</h3>
              <p>
                Medicine is the art, science, and practice of caring for a patient and managing the diagnosis, prognosis, prevention, treatment, or palliation of their injury or disease. Medicine encompasses a variety of health care practices evolved to maintain and restore health by the prevention and treatment of illness. Contemporary medicine applies biomedical sciences, biomedical research, genetics, and medical technology to diagnose, treat, and prevent injury and disease.
              </p>
              <div class="text-center">
                <a href="/medical-science" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="content">
              <h3>Law</h3>
              <p>
                Law is a system of rules created and enforced through social or governmental institutions to regulate behavior, with its precise definition a matter of longstanding debate. It has been variously described as a science and the art of justice. State-enforced laws can be made by a group legislature or by a single legislator, resulting in statutes; by the executive through decrees and regulations; or established by judges through precedent.              
              </p>
              <div class="text-center">
                <a href="/law" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>
    
   
  <section id="why-us" class="why-us">
      <div class="container" data-aos="fade-up">
  
        <div class="row">
  
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="content">
              <h3>Computer Science</h3>
              <p>
                Computer science is the study of algorithmic processes, computational machines, and computation itself. As a discipline, computer science spans a range of topics from theoretical studies of algorithms, computation, and information to the practical issues of implementing computational systems in hardware and software.              
              </p>
              <div class="text-center">
                <a href="/comp-sc" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 d-flex align-items-stretch">
          <div class="content">
            <h3>Arts &  Humanaties</h3>
            <p>
              Humanities are academic disciplines that study aspects of human society and culture. In the Renaissance, the term contrasted with divinity and referred to what is now called classics, the main area of secular study in universities. Today, the humanities are more frequently defined as any field of study outside of professional training, mathematics, and the natural and social sciences.
            </p>
            <div class="text-center">
              <a href="/artshumanaties" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 d-flex align-items-stretch">
          <div class="content">
            <h3>Entrepreneurship</h3>
            <p>
              Entrepreneurship is the process of designing, launching, and running a new business, which is often initially a small business, or as the "capacity and willingness to develop, organize and manage a business venture along with any of its risks to make a profit." The people who create these businesses are often referred to as entrepreneurs.
            </p>
            <div class="text-center">
              <a href="/entrepreneurship" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
            </div>
          </div>
        </div>

        </div>
      </div>
    </section>
    
    

    <section id="why-us" class="why-us">
      <div class="container" data-aos="fade-up">
  
        <div class="row">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="content">
              <h3>Education</h3>
              <p>
                Education is the process of facilitating learning, or the acquisition of knowledge, skills, values, morals, beliefs, and habits. Educational methods include teaching, training, storytelling, discussion, and directed research. Education frequently takes place under the guidance of educators, however, learners can also educate themselves.
              </p>
              <div class="text-center">
                <a href="/education" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
              </div>
            </div>
          </div>
          
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="content">
              <h3>Comerce</h3>
              <p>
                Commerce is the conduct of trade among economic agents. Generally, commerce refers to the exchange of something of value, between entities. From a broad perspective, nations are concerned with managing commerce in a way that enhances the well-being of citizens, by providing jobs and producing beneficial goods and services.
              </p>
              <div class="text-center">
                <a href="/commerce" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>
      
  <%- include('footer') -%>