<%- include('header') -%>

<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <div class= "breadcrumbs" data-aos="fade-in">
    <div class="container">
      <h2>COMMERCE</h2>
    </div>
  </div>
  <!-- End Breadcrumbs -->

    <section id="why-us" class="why-us">
        <div class="container" data-aos="fade-up">
          <div class="row">
    
            <div class="col-lg-4 d-flex align-items-stretch">
              <div class="content">
                <h3>SWOT Analysis</h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit
                  Asperiores dolores sed et. Tenetur quia eos. Autem tempore quibusdam vel necessitatibus optio ad corporis.
                </p>
                <div class="text-center">
                  <a href="/maintenance" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
                </div>
              </div>
            </div>
    
            <div class="col-lg-4 d-flex align-items-stretch">
              <div class="content">
                <h3>TOWS Analysis</h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit
                  Asperiores dolores sed et. Tenetur quia eos. Autem tempore quibusdam vel necessitatibus optio ad corporis.
                </p>
                <div class="text-center">
                  <a href="/maintenance" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
                </div>
              </div>
            </div>
    
            <div class="col-lg-4 d-flex align-items-stretch">
              <div class="content">
                <h3>80-20 Rule</h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit
                  Asperiores dolores sed et. Tenetur quia eos. Autem tempore quibusdam vel necessitatibus optio ad corporis.
                </p>
                <div class="text-center">
                  <a href="/maintenance" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
                </div>
              </div>
            </div>
    
          </div>
    
        </section>

<%- include('footer') -%>