<%- include('header') -%>

    <section id="hero" class="d-flex justify-content-center align-items-center">
        <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
          <h1>Learning Today,<br>Leading Tomorrow</h1>
          <h2>This page is currently under maintenance! We regret the inconvenience!</h2>
        </div>
      </section>

<%- include('footer') -%>